.SideBar {
    border: solid;
    border-color: #EBECF0;
    border-width: 10px;
    position: relative;
    margin: 30px;
    height: 511px;;
    width: 304px;
    z-index: 1;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2);
}


@keyframes floatUpDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-7px); }
    100% { transform: translateY(0); }
}

.SpeechBubble {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: larger;
    float: right;
    height: 40%;
    width: 100%;
    margin-top: -2%;
    border-radius: 50%;
    background-color: white;
    font-family: monospace;
    border: solid 1px;
    z-index: 2;
    animation: floatUpDown 1.2s ease-in-out infinite;
}